<nav>
    <div class="site-title">
        <a href="/"><h1> Blogs Site</h1></a>
        <p>A blogging website</p>
    </div>

    <ul>
        <a href="/"><li>Blogs</li></a>
        <a href="/about"><li>About Us</li></a>
        <a href="/blogs/create"><li>New Blog</li></a>
    </ul>

</nav>